.host{
  display:flex;
}
.ticket-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.ticket-img{
  min-height: 80%;
}
.hover-effect-scale div{
  overflow: hidden;
}
.hover-effect-scale img{
  transition: all 0.2s linear;
}
.hover-effect-scale img:hover {
  transform: scale(1.3);
}

