<!--передаем в компонент селектор, определяющий <div> с билетом - туром-->
<!-- устанавливаем свойству компонента значение true-->
<!-- т.е. первый билет сразу будет выделен рамкой-->

<div>
   <ng-container *ngIf="loadCountBlock">
      <p>Количество элементов:  {{tickets.length}}</p>
      <p>Активный элемент: {{blockDirective?.activeElementIndex}}</p>
    </ng-container>

  <div>
    <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText/>
  </div>

  <div *ngIf = "noSearchResults">
    <p >Нет результатов!</p>
  </div>

  <div appBlocksStyle
     #tourWrap
     [selector]="'.ticket-item'"
     [initFirst] = "true"
     [choice] = "false"
     (renderComplete)="directiveRenderComplete($event)"
     class = "d-flex flex-wrap justify-content-around">

     <div class="ticket-item  hover-effect-scale card col-3 m-3"
          (click)="goToTicketInfoPage(item)"
          *ngFor="let item of tickets; let i = index">
       <div class="card-body">
         <h5 class="card-title">{{item.name}}</h5>
       </div>
       <div class="h-100">
         <img class ="card-img-bottom h-100" src="/assets/img/{{item.img}}">
       </div>
     </div>
   </div>
 </div>




<p-toast></p-toast>



