<div>
  <!--Является компонентом библиотеки ng Prime-->
  <p-tabView>

    <p-tabPanel [cache]="isTabCashing" header="Авторизация">
       <ng-template pTemplate="content">
            <app-authorization></app-authorization>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel [cache]="isTabCashing" header="Регистрация">
      <ng-template pTemplate="content">
        <app-registration ></app-registration>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
 </div>


<!--всплывающее сообщение-->
<p-toast position="top-left"></p-toast>

