<div class = "d-flex flex-column align-items-center">
  <div class="d-flex flex-column auth">

    <div class = "d-flex">
      <span class="p-3 flex-grow-1">{{loginText}}</span>
      <input type="text"
             pInputText
             [ngClass]="{'input-error':!login}"
             [(ngModel)]="login"/>
    </div>

    <div class = "d-flex mt-3">
      <span class ="p-3 flex-grow-1">{{pswText}}</span>
      <input type="text"
             pInputText
             [ngClass]="{'input-error':!psw}"
             [(ngModel)]="psw"/>
    </div>

    <div class="mt-3">

      <div class="mx-3">
        <p-checkbox (onChange)="vipStatusSelected($event)"
                    [disabled] = "isDisabled"
                    label="Есть номер карты"
                    name="vip" [binary]="true"
                    [(ngModel)]="selectedValue">
        </p-checkbox>
      </div>

      <div *ngIf="selectedValue" class="d-flex mt-3">
        <span class = "p-3 flex-grow-1">Номер карты</span>
        <input type="text"
               pInputText
               [(ngModel)]="cardNumber"/>
      </div>

    </div>
  </div>


  <div class="mt-5 d-flex justify-content-center">
    <button (click)="onAuth($event)" type="button" class="btn btn-success">{{authTextButton}}</button>
  </div>

</div>

