<p-table [value]="users" [scrollable]="true">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
   <ng-template pTemplate="body" let-user>
    <tr>
      <td *ngFor="let col of cols">
        {{ user[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
