<!--Выпадающее меню из бибилиотеки ng Prime-->
<div>
  <p-dropdown [options]="menuTypes"
  [(ngModel)]="selectedMenuType"
  optionLabel="label"
  (onChange)="changeType($event)">
  </p-dropdown>
</div>
<!--Добавлен новый список-->
<div class="mt-3">
  <p-dropdown class="mt-3"
              [options]="tourTypes"
              optionLabel="label"
              (onChange)="changeTourType($event)">
  </p-dropdown>
</div>
<div class="mt-3">
  <p-calendar (onSelect)="selectDate($event)" ></p-calendar>
</div>

<div class="mt-3">
  <button (click)="initRestError()" type="button" class="btn btn-sm">Запрос с ошибкой</button>
</div>

<div class="mt-3">
  <button (click)="initSettingsData()" type="button" class="btn btn-sm">Обновить настройки</button>
</div>
