<div>
  <p-tabView>
    <p-tabPanel header="Смена пароля">
      <ng-template pTemplate="content">
        <div class="d-flex flex-column col-6 settings-input-wrap m-auto">

          <!-- Блок старый пароль-->
          <div>
            <span class = "mx-3">Текущий Пароль</span>
            <input type="password"
                   class="mt-3"
                   pInputText
                   [ngClass]="{'input-error':!currentPsw}"
                   [(ngModel)]="currentPsw"/>
          </div>

          <!-- Блок новый пароль-->
          <div>
            <span class = "mx-3">Новый пароль</span>
            <input type="password"
                   class="mt-3"
                   pInputText
                   [ngClass]="{'input-error':!newPsw}"
                   [(ngModel)]="newPsw"/>
          </div>

          <!-- Блок подтверждение пароля-->
          <div>
            <span class = "mx-3">Подтверждение пароля</span>
                  <input type="password"
                   class="mt-3"
                   pInputText
                   [ngClass]="{'input-error':!pswRepeat}"
                   [(ngModel)]="pswRepeat"/>
          </div>
        </div>

        <div class="mt-5 d-flex justify-content-center">
          <button [disabled]="!currentPsw || !newPsw ||!pswRepeat"
                  (click)="changePsw($event)"
                  type="button"
                  class="btn btn-success">Сменить пароль</button>
        </div>

      </ng-template>
  </p-tabPanel>
    <p-tabPanel header="Статистика">
      <ng-template pTemplate="content">
        <app-statistic></app-statistic>
      </ng-template>
  </p-tabPanel>
</p-tabView>
</div>

<!--всплывающее сообщение-->
<p-toast position="top-left"></p-toast>


