<div class="ticket-info-wrap">
<div>
  <div>

    <div class ="mt-3">
      <a routerLink="/tickets/tickets-list">Назад</a>

      </div>
  </div>

  <div class = "mt-4">
      <h4>Информация о туре</h4>
      <div class = "ticket-info">{{ticket?.name}}</div>
  </div>

    <div class = "mt-4">
        <h4>Личная информация</h4>
         <div class ="mt-3 user-info" [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="mt-3">
        <!-- <span class="mx-3">Имя</span>-->
            <!-- указывается ссылка на шаблон userFieldTitle-->
            <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue:'Имя'}"></ng-container>
            <input type="text"
                   class="mt-3"
                   pInputText
                   formControlName = "firstName">
          </div>

          <div class="mt-3">
          <!--  <span class="mx-3">Фамилия</span>-->
            <!-- указывается ссылка на шаблон userFieldTitle-->
            <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue:'Фамилия'}"></ng-container>
            <input type="text"
                   class="mt-3"
                   pInputText
                   formControlName = "lastName"
            />
          </div>

          <div class="mt-3">
          <!--  <span class="mx-3">Номер карты</span>-->
            <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue:'Номер карты'}"></ng-container>
            <input type="text"
                   class="mt-3"
                   pInputText
                   formControlName = "cardNumber"
            />
          </div>


           <div class="mt-3">
           <!--  <span class="mx-3">Возраст</span>-->
             <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue:'Возраст'}"></ng-container>
             <p-inputNumber
                    formControlName = "age"
                    [showButtons]="true">

             </p-inputNumber>
           </div>

           <div class="mt-3">
     <!-- <span class="mx-3">День рождения</span> -->
           <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue:'День рождения'}"></ng-container>
           <p-calendar
             formControlName = "birthday"
             (onSelect)="selectDate($event)">

           </p-calendar>
         </div>

           <div class="mt-3">
        <!--<span class="mx-3">Гражданство</span>-->
             <ng-container *ngTemplateOutlet="userFieldTitle; context:{titleValue:'Гражданство'}"></ng-container>
             <input type="text"
                    class="mt-3"
                    pInputText
                    formControlName = "citizen"
             />
           </div>

               <div class = "mt-4">
                <button type="submit" class="btn btn-success"
                        (click)="initTour()"
                        [disabled]="!userForm.valid">Перейти к оформлению</button>
               </div>

         </div>
     </div>

  <div class = "mt-4">
    <h4>Похожие туры</h4>
    <div>
      <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText>
    </div>
    <p-carousel [value]="nearestTours">
      <ng-template let-tour pTemplate="tour">
        <p>{{tour.name}}, страна: {{tour.country}}</p>
         <div class = "ticket-img-nearest">
          <img class = "w-100 h-100" src="/assets/img/{{tour.img}}">
        </div>
      </ng-template>
    </p-carousel>
  </div>
    </div>
  </div>

<ng-template #userFieldTitle let-value = "titleValue">
  <span class ="mx-3">{{value}}</span>
</ng-template>
