/*стили для элемента <app-header>*/
:host{
  height: 60px;
  width: 100%;
  display: block;
}
.time-block{
  position:absolute;
  right:0;
  padding: 4px;
}
.login{
  position:absolute;
  right:80px;
  padding: 0.75rem 1.25rem;
  align-items: baseline;
  display:flex;
}
