<div class = "d-flex">
  <div class = "flex-grow-1">
    <!--меню - бар из ng Prime-->
    <p-menubar [model]="items"></p-menubar>
  </div>

  <!--вывод логина авторизованного пользователя-->
  <div class="login" *ngIf="user">{{user.login}}</div>

  <!--вывод таймер-->
  <div class="time-block">
    <!--применение pipe date -->
    <div>{{time |date: 'HH:mm:ss'}}</div>
    <p class="timer-day p-0 m-0">{{time | date:'EEEE'}}</p>
  </div>
</div>
