<div class = "d-flex flex-column h-100">
  <header>
    <app-header [menuType] = "selectedType"></app-header>
  </header>
  <div class="main-content">

    <!-- класс Bootstrap flex-grow-1 элемент занимает все дсотупное место в flex-container-->
    <div class = "overflow-auto h-100 w-100 p-3">
    <router-outlet></router-outlet>
    </div>
    <app-aside (updateMenuType)="updateSelectedType($event)"></app-aside>
    </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
