<div class="d-flex flex-column col-6 registration-input-wrap m-auto">

  <!-- Блок логин-->
  <div>
    <span class = "mx-3">Логин</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error':!login}"
           [(ngModel)]="login"/>

   </div>

  <!-- Блок пароль-->
  <div>
    <span class = "mx-3">Пароль</span>
  <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error':!psw}"
           [(ngModel)]="psw"/>
  </div>

  <!-- Блок подтверждение пароля-->
  <div>
    <span class = "mx-3">Подтверждение пароля</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error':!pswRepeat}"
           [(ngModel)]="pswRepeat"/>
  </div>

  <!-- Блок почта-->
  <div>
    <span class = "mx-3">e-mail</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="email"/>
  </div>

  <!-- Блок номер карты-->
  <!--отображение блока зависит от свойства showCardNumber-->
  <!-- если оно = true, то блок отображается-->
  <!-- значение этого свойства в свою очередь зависит от свойства config в configService-->
  <!--в свойство config записывается объект из файла сonfig.json-->
  <!--в классе компонента обращаемся к свойству объекта useUserCard в config.jason-->
  <!--если это свойство = true, то номер карты отображается-->


  <div *ngIf="showCardNumber; else noSelected">
     <span class = "mx-3">Номер карты</span>
    <input type="text"
           class="mt-3"
           pInputText
           [(ngModel)]="cardNumber"/>
    </div>

  <div class="mt-3">

    <!-- для обработки события при выбранном / невыбранном checkbox-->
    <!-- название события определено библиотекой ng Prime-->
    <!--справа от события по документации библиотеки должна быть функция callback-->
    <!-- пока метод vipStatusSelected для отображения блока vip нам не требуется-->
    <p-checkbox (onChange)="storeUser()"
                label="Сохранить пользователя в локальном хранилище"
                name="groupname" [binary]="true"
                [(ngModel)]="selectedValue"></p-checkbox>

    <!--этот блок в форме будет появляться и заполняться user-->
    <!-- только, если выбран checkbox-->
    <!-- если checkbox не выбран, то этот блок должен скрываться-->
    <!--значение true/false хранится в selectedValue-->


  </div>
<!--Размещение кнопки-->
<!-- type и классы для кнопки из библиотеки Bootstrap-->
<!-- классы для div контейнера кнопки добавлены из Bootstrap-->
<!-- кнопка не действует, если нет заполнения полей логин, пароль или подтверждение пароля-->
<div class="mt-5 d-flex justify-content-center">
  <button [disabled]="!login || !psw ||!pswRepeat"
          (click)="registration($event)"
          type="button"
          class="btn btn-success">Зарегистрироваться</button>
</div>

  <!--этот блок отображается в случае еlse, т.е. когда ngIf = false-->
  <ng-template #noSelected>
      <p>Карта не выбрана</p>
  </ng-template>
</div>
