/*класс для выравнивая полей формы registration*/
.registration-input-wrap span{
  width: 176px; /*все span (названия полей) имеют фиксированную ширину по самому длинному названию*/
  display: inline-block; /*для применения фиксированной ширины*/

}
